bin/ 
obj/ 
/.vs
/Backup
/Backup1
/Properties

# Ignore all .mp4, .png, and .jpeg files
**/*.mp4
**/*.png
**/*.jpeg
/RGBDGenerator/Assets/depth-anything-v2-large.onnx
/RGBDGenerator/Assets/model_fp16.onnx
/RGBDGenerator/Assets/depth-anything-v2-large_fp16.onnx
